<div class="fluid-container">
	<div class="row row-content">
	    <div class=col-xs-12>
	        <ol class="breadcrumb">
	            <li><a href = "index.html"><span class="glyphicon glyphicon-home"> </span> Home</a></li>
	            <li class="active">Diode Hair Removal</li>
	        </ol>
	    </div> 

	    <div class="col-xs-12">
           <h2>Diode Hair Removal</h2>
        	<hr>
        </div>
    </div>

    <div class = "row row-content">
    <div class = "zoom">
    	<div class = "col-xs-12 col-sm-6 ">
    		<img class = "dimension fig1" src="images/Diode_Hair_Removal/pic1_1.jpg" alt="Sorry! Couldn't Load" />
        </div>
        <div class = "col-xs-12 col-sm-6 ">
    		<img class ="dimension fig2" src="images/Diode_Hair_Removal/pic1_2.jpg" alt="Sorry! Couldn't Load" />
    	</div>
        
    </div>

    <div class = "zoom">
        <div class = "col-xs-12 col-sm-6 ">
    		<img class ="dimension fig1" src="images/Diode_Hair_Removal/pic2_1.jpg" alt="Sorry! Couldn't Load" />
            </div>
        <div class = "col-xs-12 col-sm-6 ">
    		<img class = "dimension fig2" src="images/Diode_Hair_Removal/pic2_2.jpg" alt="Sorry! Couldn't Load" />
        </div>
    </div>

    </div>

</div>